body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
}

button {
  background: none;
  border: none;
  outline: none;
}

button img {
  transition: transform 0.2s ease;
  width: 130px;
  height: 100px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  /* Adjust size of the choice images */
  border:2px solid white
}

button:hover img {
  transform: scale(1.1);
}

.choice-button {
  background: transparent;
  border: none;
  cursor: pointer;
  margin: 0 10px;
}

.choice-image {
  width: 60px;
  /* Keep the images smaller for choice display */
  margin-left: 10px;
}

.result-text {
  color: #333;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

/* Flexbox for aligning choice and image side by side */
.choice-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.choice-container h2 {
  margin-right: 10px;
}
@media only screen and (max-width: 550px) {
  button img {
    width: 85px;
    height: 80px;
  }
  
}

@media only screen and (max-width: 420px) {
  button img {
    width: 80px;
    height: 75px;
  }

}
@media only screen and (max-width: 405px) {
  button img {
    width: 70px;
    height: 60px;
  }

}